* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: palevioletred;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, auto);
}

.grid-box {
    background-color: white;
    border: 1px solid black;
}

.hover {
    background-color: lightblue;
}