@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto',
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, auto);
    width: 70vw;
    height: 70vh;
    margin: 3.5% auto;
}

.grid-box {
    background-color: white;
    border: 0.5px dashed black;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
    padding: 20px;
    border-radius: 10px;
    width: 80px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
}

button:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

h1 {
    font-size: 48px;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 7.5px;
    margin-top: 3.5%;
}

.options {
    display: flex;
    justify-content: space-around;
}

